
.border{
    border: 2px solid red;
    margin: 3px;
   }
   
   .flex{
       display: flex;
   }
   
   .justify-center{
       justify-content: center;
   }
   
   .items-center{
       align-items: center;
   }


   @keyframes linearGradientanimation{
    from {
        background: linear-gradient(20deg ,blue,black,red,#000037,blue,#121212);
      }
    
      50% {
        background: linear-gradient(20deg ,red,black,blue,black,red,black);
      }

    
      to {
        background: linear-gradient(20deg ,blue,black,red,#000037,blue,#121212);
      }
    }
   